* {
  box-sizing: border-box;
}

body {
  color: #66717E;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

h2 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #151515;
}
.container h1 {
  text-align: center;
}
.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-auto-flow: row dense;
}

.project {
  counter-increment: portfolio;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
}

.project__image {
  width: 100%;
  height: 300px;
  border-radius: 15px 15px 0 0;
  border-bottom: 4px solid #9e4f60;
  background-color: black;
}
.project__bloc {
  background-color: #282727;
  border-radius: 0 0 15px 15px;
  height: 80px;
}
.project__bloc h2 {
  margin-top: -4px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #ddd;
}
.project__description {
  padding: 10px 10px;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  color: #9e4f60;
}
.firstLEtter {
  text-transform: capitalize;
}

.project__body {
  overflow: hidden;
}

.project .project__body {
  display: none;
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 640px) {
  .portfolio {
    grid-template-columns: repeat(4, 1fr);
  }
  .project__body {
    grid-column: span 4;
  }
  .portfolio-flex {
    margin-left: -10px;
    margin-right: -10px;
  }
  .portfolio-flex .project {
    width: 25%;
    padding: 10px;
  }
  .portfolio-flex .project__body {
    padding: 0 10px;
  }
}
