* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'starJedi';
  src: url('Starjedi.ttf');
}

body {
  color: #66717E;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #FFF;
  padding: 20px 0 0 0;
  margin: 0;
  font-size: 3em;
  font-family: 'Starjedi', 'Roboto', sans-serif;
}

h2 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #151515;
}
.container h1 {
  text-align: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}
.button .btn {
  border-radius: 15px;
  border: 2px solid #9e4f60;
  padding: 5px 20px;
  margin: 0 2px;
  background-color: #282727;
  color: #fff;
}

.button .btn:focus {
  border: 2px solid #FFF;
  background-color: #9e4f60;
  outline: inherit;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-auto-flow: row dense;
}

.project {
  counter-increment: portfolio;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
  outline: inherit;
}

.project__image {
  width: 100%;
  height: 300px;
  border-radius: 15px 15px 0 0;
  border-bottom: 4px solid #9e4f60;
  background-color: black;
}
.project__bloc {
  background-color: #282727;
  border-radius: 0 0 15px 15px;
  height: 80px;
}
.project__bloc h2 {
  margin-top: -4px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #ddd;
}
.project__description {
  padding: 10px 10px;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  color: #9e4f60;
}
.firstLEtter {
  text-transform: capitalize;
}

.project__body {
  overflow: hidden;
  background-color: #282727;
  border-radius: 15px;
  margin: 0 10px 20px 10px;

}
.project__body h2 {
  padding: 10px 0 0 0;
  color: #ddd;
}
.project__body p {
  padding: 5px 0 0 0;
  color: #ddd;
}
.project__body a {
  text-decoration: none;
  color: #9e4f60;
}
.project__body p > a {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.project .project__body {
  display: none;
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 640px) {
  .portfolio {
    grid-template-columns: repeat(4, 1fr);
  }
  .project__body {
    grid-column: span 4;
  }
  .portfolio-flex {
    margin-left: -10px;
    margin-right: -10px;
  }
  .portfolio-flex .project {
    width: 25%;
    padding: 10px;
  }
  .portfolio-flex .project__body {
    padding: 0 10px;
  }
}
